.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* space between items */
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #535bf2;
}

.MuiInputBase-input {
  color: white;
}

.MuiFormLabel-root.Mui-focused {
  color: white;
}