:root {
  font-family: 'Exo', sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  display: flex;
}

input[type="text"], .MuiInputBase-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #0f1df8;
  background-color: white;
  border-radius: 4px;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
}

button:hover {
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.95); 
}

.MuiInputBase-input {
  color: white;
}

.MuiFormLabel-root.Mui-focused {
  color: white;
}

.logo {
  font-family: 'Exo', sans-serif;
}